.container{
    background-color:burlywood;
    padding:20px;
    height:70vh;
  }
  
  .gotMessage{
    background-color:navy;
    color:white;
    border:2px solid white;
  }

  .gotMessageDown{
    background-color:darkgreen;
    color:white;
    border:2px solid white;
  }