/* You can add global styles to this file, and also import other style files */
p {
    font-weight:bold;
    font-family:arial;
}

.up, .down{
    padding-left:100px;
}

span{
    padding-left:20px;
    
}

.highlighted {
    color:#dc143c;
}